
{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %} 

<div id="querylist">
<div class="body-wrapper">
    <div class="container-fluid">
      <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
        <div class="card-body px-0">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="font-weight-medium fs-14 mb-0">Query</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a class="text-muted text-decoration-none" href="{% url "home" %}">Home
                    </a>
                  </li>
                  <li class="breadcrumb-item text-muted" aria-current="page"> <a class="text-muted text-decoration-none" href="{% url "allquerylist" %}">All Query
                </a></li>
                </ol>
              </nav>
            </div>
            <div>
              <div class="d-sm-flex d-none gap-3 no-block justify-content-end align-items-center">
                <div class="d-flex gap-2">
                  <button type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 font-medium" data-bs-toggle="modal" data-bs-target="#bulkleads">
                    Import
                  </button>
                  {% include "Admin/Query/bulklead.html" %}
                </div>
                <div class="d-flex gap-2">
                  <a href="{% url "addquery" %}">
                    <button type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 font-medium">
                        Add Query
                      </button>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form method="GET" action="">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="from" class="col-form-label">From Date</label>
                <input class="form-control" type="date" name="from" id="from">
            </div>
            <div class="col-md-4">
                <label for="to" class="col-form-label">To Date</label>
                <input class="form-control" type="date" name="to" id="to">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" style="margin-top: 10%;">Search</button>
            </div>
        </div>
    </form>
    
        {% include "Login/messages.html" %}
      <div class="datatables">
        <div class="row">
          {% if user.user_type == "Sales Person" %}
            <div class="col-lg-2">
              <a href="{% url "newquerylist" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(255,145,94,1) 26%, rgba(224,158,0,1) 69%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                    <div>
                      <h5 class="fw-semibold mb-0">{{new_lead_list.count}}</h5>
                      <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>
                        Pending</span>
                    </div>
                    
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            <div class="col-lg-2">
              <a href="{% url "connectedquerylist" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(120,144,126,1) 26%, rgba(55,73,51,1) 69%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                    <div>
                        <h5 class="fw-semibold mb-0">{{lead_list.count}}</h5>
                        <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Connected</span>
                      </div>
                      
                    </div>
                  </div>
                </a>
            </div>
            <div class="col-lg-2">
              <a href="{% url "quatationquerylist" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(231,111,96,1) 26%, rgba(209,2,2,1) 65%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{quatation_lead_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Quotation Send</span>
                  </div>
                </div>
              </div>
            </a>
            </div>
            <div class="col-lg-2">
              <a href="{% url "paymentdonequerylist" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(128,164,255,1) 26%, rgba(45,84,167,1) 65%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{paydonelead_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Payment</span>
                  </div>
                </div>
              </div>
            </a>
            </div>
            {% if user.user_type != "Sales Person" %}
            <div class="col-lg-2">
              <a href="{% url "bookinglist" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(255,145,94,1) 26%, rgba(224,158,0,1) 69%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{book_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Booking Confirmed</span>
                  </div>
                </div>
              </div>
            </a>
            </div>
            <div class="col-lg-2">
              <a href="{% url "completedquery" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(5,172,33,1) 26%, rgba(6,103,33,1) 65%);;">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{comlead_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Completed</span>
                  </div>
                </div>
              </div>
            </a>
            </div>
            {% endif %}
            <div class="col-lg-2">
              <a href="{% url "lostquery" %}">
              <div class="card" style="background: linear-gradient(90deg, rgba(80,75,75,1) 26%, rgba(22,16,16,1) 65%);">
                <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{lost_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Lost</span>
                  </div>
                </div>
              </div>
            </a>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- ---------------------
                        start File export
                    ---------------- -->
            <div class="card">
              <div class="card-body">
                
                <div class="table-responsive">
                  
                  <table id="file_export" class="table border table-striped table-bordered display text-nowrap">
                    <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Destination</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Status</th>
                                    <th>Sales</th>
                                    <th>Action</th>
                                    {% if user.user_type != "Sales Person"%}
                                    <th>For OP</th>
                                    {% endif %}
                                </tr>
                                </thead>


                                <tbody >
                                {% for i in all_lead %}
                                <tr>
                                    
                                    <td data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight-{{i.id}}" aria-controls="offcanvasRight" >
                                        {{i.enquiry_number}}
                                    </td>
                                      {% include "Admin/Query/detailsquery.html" %}
                                    <td>{{i.query_title}}
                                    </td>
                                    <td>{{i.destinations.name}}</td>
                                    <td>{{i.from_date}}</td>
                                    <td>{{i.to_date}}</td>
                                    <td>{% if i.lead_status == "Pending" %}
                                      <span class="mb-1 badge rounded-pill text-bg-warning">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Connected" %}
                                      <span class="mb-1 badge rounded-pill text-bg-danger">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Quotation Send" %}
                                      <span class="mb-1 badge rounded-pill text-bg-primary">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Payment Processing" %}
                                      <span class="mb-1 badge rounded-pill text-bg-secondary">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Booking Confirmed" %}
                                      <span class="mb-1 badge rounded-pill" style="background-color: #14452f;">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Payment Done" %}
                                      <span class="mb-1 badge rounded-pill text-bg-info">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Lost" %}
                                      <span class="mb-1 badge rounded-pill text-bg-dark">{{ i.lead_status }}</span>
                                  {% elif i.lead_status == "Completed" %}
                                      <span class="mb-1 badge rounded-pill text-bg-success">{{ i.lead_status }}</span>
                                  {% else %}
                                      <span class="mb-1 badge rounded-pill">{{ i.lead_status }}</span>
                                  {% endif %}
                                      <button type="button" class="btn d-flex bg-primary-subtle w-100 d-block text-primary font-medium" data-bs-toggle="modal" data-bs-target="#update_status{{i.id}}">
                                        Update 
                                      </button></td>
                                      {% include "Admin/Query/status_update.html" %}

                                    
                                    
                                    <td><span class="mb-1 badge rounded-pill text-bg-dark">{{i.sales_person.first_name}} {{i.sales_person.last_name}}</span>
                                      <button type="button" class="btn d-flex bg-primary-subtle w-100 d-block text-primary font-medium" data-bs-toggle="modal" data-bs-target="#update_op{{i.id}}">
                                        Update 
                                      </button>
                                    </td>
                                    {% include "Admin/Query/update_op.html" %}
                                    
                                    <td>
                                        <a href="{% url "editquery" i.id %}">
                                          <button type="button" class="btn mb-1 bg-success-subtle text-success px-4 fs-4 font-medium">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                <path d="M16 5l3 3" />
                                              </svg>
                                            </button>
                                        </a>                                                    
                                      </td>
                                    <td>
                                        <a href="{% url "opeditquery" i.id %}">
                                          <button type="button" class="btn mb-1 bg-success-subtle text-success px-4 fs-4 font-medium">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-filter-edit">
                                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                              <path d="M10.97 20.344l-1.97 .656v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v1.5" />
                                              <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" />
                                            </svg>
                                            </button>
                                        </a>                                                    
                                      </td>
                                    
                                </tr>
                                {% endfor %}
                               
                            
                                </tbody>
                            </table>
                        </div>           
                    </div>
                </div>
            </div>
        </div><!--end row-->


    </div> <!-- end container -->
</div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
  $(document).ready(function() {
    var callHistoryAppended = false;
    $('.offcanvas').on('shown.bs.offcanvas', function() {
      // Get the ID of the offcanvas element
      var offcanvasId = $(this).attr('id');
      console.log("Offcanvas opened with ID:", offcanvasId);
      let text = "testttt";
      // Extract the numeric part from the offcanvas ID
      var leadId = offcanvasId.split('-')[1];

      // Make the AJAX request using the extracted ID
      $.ajax({
        url: "/testt/" + leadId, 
        type: "GET",
        success: function(response) {
          if (!callHistoryAppended) {
            // Append the "Call History" title before the timeline
            var callHistoryTitle = `
              <div class="card-body" style="padding: 6px 0;">
                <h5 class="card-title mb-0" style="color: black !important;">Call History</h5>
              </div>
            `;
            $('#clientDetails_'+ leadId).append(callHistoryTitle);
            callHistoryAppended = true; // Update the flag
          }
          {% comment %} console.log("Status:", response.recording_urls_and_dates.results); {% endcomment %}
          response.recording_urls_and_dates.results.forEach(function(result, index) {
              var clientNumbers = `<p class="px-2" id="client_number_${leadId}_${index}"><b>Date :</b> ${result.date}</p>`;
              
              // Construct timeline item for each result
              var timelineItem = `
                <div class="timeline-item" id="client_Details_${leadId}_${index}">
                  <h5 style="color: black !important;" class="mb-5">${index}.Call Record Detail</h5>
                  <div class="custom-row">
                    ${clientNumbers}
                    <p class="px-2"><b>Time :</b> ${result.time}</p>
                    <p class="px-2"><b>Call Duration :</b> ${result.call_duration}</p>
                    <p class="px-2 mb-2"><b>Answer Seconds :</b> ${result.answered_seconds}</p>
                   
                    <p> ${result.recording_url ? `<audio controls src="${result.recording_url}"></audio>` : `Call cut from Sales Department`} </p>
                  </div>
                </div>
              `;

              // Append the timeline item to the timeline
              $('#clientDetails_' +leadId).append(timelineItem);
          });

        },
        error: function(xhr, status, error) {
          console.error("Error:", error);
        }
      });
    });
  });
</script>



<script>
  // JavaScript code to handle form submission and AJAX request
document.querySelector('#search-form').addEventListener('submit', function(event) {
  event.preventDefault();

  var from_date = document.getElementById('from').value;
  var to_date = document.getElementById('to').value;

  // Convert dates to yyyy-mm-dd format
  var formatted_from_date = formatDate(from_date);
  var formatted_to_date = formatDate(to_date);

  // Make AJAX request to update datatable
  $.ajax({
      url: '/your-url-for-datatable/',
      type: 'GET',
      data: {
          from: formatted_from_date,
          to: formatted_to_date
      },
      success: function(response) {
          // Update the datatable with filtered data
      },
      error: function(xhr, errmsg, err) {
          // Handle error
      }
  });
});

// Function to format date to yyyy-mm-dd format
function formatDate(dateString) {
  var date = new Date(dateString);
  var year = date.getFullYear();
  var month = ('0' + (date.getMonth() + 1)).slice(-2);
  var day = ('0' + date.getDate()).slice(-2);
  return year + '-' + month + '-' + day;
}

</script>
{{ message|json_script:"room-name" }}

{% endblock main-content %} 




