{% if request.user.user_type != "Sales Person" %}
                                 <div class="row mb-5">
                                    <label for="example-email-input" class="col-form-label">Sales Person</label>
                                    <div class="col-md-3">
                                       <select class="select2 form-control" name="sales_person_id" id="sales_person_id"
                                          style="height: 36px; width: 100%">
                                          {% for sale in operation %}
                                          <option value="{{sale.id}}">{{sale.first_name}} {{sale.last_name}}</option>
                                          {% endfor %}
                                       </select>
                                    </div>
                                    <div class="col-md-2">
                                       <button type="submit" class="btn btn-primary">Assign</button>
                                    </div>
                                 </div>
                                 {% endif %}