{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %}

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
            <div class="card-body px-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="font-weight-medium fs-14 mb-0">Booking Card</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" href="{% url "home" %}">Home</a>
                                </li>
                                <li class="breadcrumb-item text-muted" aria-current="page">
                                    <a class="text-muted text-decoration-none" href="{% url "allquerylist" %}">All Query</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Booking Card</h4>
                        <hr>
                        <form id="noteForm" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Name</th>
                                            <th>Supplier</th>
                                            <th>Net Cost</th>
                                            <th>Source</th>
                                            <th>Booking Refrence No</th>
                                            <th>Status</th>
                                            <th>Holding Date</th>
                                            <th>Vendor Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="productRows">
                                        {% for booking_card in booking_cards %}
                                        <tr class="product-row">
                                            <td>
                                                <select class="form-control product-select" name="product" id="product">
                                                    <option value="Hotel" {% if booking_card.product == "Hotel" %}selected{% endif %}>Hotel</option>
                                                    <option value="Flight" {% if booking_card.product == "Flight" %}selected{% endif %}>Flight</option>
                                                    <option value="Travel Insurance" {% if booking_card.product == "Travel Insurance" %}selected{% endif %}>Travel Insurance</option>
                                                    <option value="Visa Service" {% if booking_card.product == "Visa Service" %}selected{% endif %}>Visa Service</option>
                                                    <option value="Transfer" {% if booking_card.product == "Transfer" %}selected{% endif %}>Transfer</option>
                                                    <option value="Sightseeing" {% if booking_card.product == "Sightseeing" %}selected{% endif %}>Sightseeing</option>
                                                    <option value="Meals" {% if booking_card.product == "Meals" %}selected{% endif %}>Meals</option>
                                                    <option value="Activity" {% if booking_card.product == "Activity" %}selected{% endif %}>Activity</option>
                                                    <option value="Ferry" {% if booking_card.product == "Ferry" %}selected{% endif %}>Ferry</option>
                                                    <option value="Boat" {% if booking_card.product == "Boat" %}selected{% endif %}>Boat</option>
                                                    <option value="Others" {% if booking_card.product == "Others" %}selected{% endif %}>Others</option>
                                                </select>
                                            </td>
                                            <td><input type="text" class="form-control" name="name" id="name" value="{{booking_card.name}}"></td>
                                            <td><input type="text" class="form-control" name="supplier" id="supplier" value="{{booking_card.supplier}}"></td>
                                            <td><input type="text" class="form-control" name="net_cost" id="net_cost" value="{{booking_card.netcost}}"></td>
                                            <td><input type="text" class="form-control" name="source" id="source" value="{{booking_card.source}}"></td>
                                            <td><input type="text" class="form-control" name="source_details" id="source_details" value="{{booking_card.source_details}}"></td>
                                            <td><input type="text" class="form-control" name="status" id="status" value="{{booking_card.status}}"></td>
                                            <td><input type="date" class="form-control" name="holding_date" id="holding_date" value="{{booking_card.holding_date|date:'Y-m-d' }}"></td>
                                            <td><input type="text" class="form-control" name="vendor_payment" id="vendor_payment" value="{{booking_card.vendor_payment}}"></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <p style="font-size: 1.125rem; font-weight:500; color:black;">
                                Costing
                            </p>
                            <hr>
                            <div class="row">
                                
                                <div class="col-md-2">
                                    <label class="control-label" for="">Total NetCost</label>
                                    <input type="text" class="form-control" id="totalNetCost" name="total_net_cost" value="{{lead.net_cost}}" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">MarkUp</label>
                                    <input type="text" class="form-control" name="markup" value="{{lead.markup}}">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">TCS</label>
                                    <input type="text" class="form-control" name="tcs" value="{{lead.tcs}}">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">GST</label>
                                    <input type="text" class="form-control" name="gst" value="{{lead.gst}}">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">PG Cards</label>
                                    <input type="text" class="form-control" name="pg_card" value="{{lead.pg_card}}">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">Total</label>
                                    <input type="text" class="form-control" name="total" value="{{lead.total}}" readonly>
                                </div>
                             
                            </div>
                            <button type="button" class="btn btn-primary add-row" style="margin-top: 10px;">Add More</button>

                            <button id="submitBtn" type="button" class="btn btn-primary" style="margin-top: 10px;">Submit</button>

                            <div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="notesModalLabel">Add Note</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <textarea id="noteInput" class="form-control" rows="4" name="note" placeholder="Enter your note here..." required></textarea>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button id="submitWithNote" type="button" class="btn btn-primary">Update</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        
        function calculateTotalNetCost() {
            var totalNetCost = 0;
            
            $('#productRows tr').each(function () {
                
                var netCost = $(this).find('input[name="net_cost"]').val();
                
                if (!isNaN(netCost) && netCost !== '') {
                    totalNetCost += parseFloat(netCost);
                }
            });
            
            $('#totalNetCost').val(totalNetCost.toFixed(2));

            // Calculate total
            calculateTotal();
        }

        function calculateTotal() {
            var totalNetCost = parseFloat($('#totalNetCost').val());
            var markup = parseFloat($('input[name="markup"]').val()) || 0;
            var tcs = parseFloat($('input[name="tcs"]').val()) || 0;
            var gst = parseFloat($('input[name="gst"]').val()) || 0;
            var pgCard = parseFloat($('input[name="pg_card"]').val()) || 0;

            var total = totalNetCost + markup + tcs + gst + pgCard;
            $('input[name="total"]').val(total.toFixed(2));
        }

        function attachNetCostEventListener() {
            $('#productRows').on('input', 'input[name="net_cost"]', function() {
                calculateTotalNetCost();
            });
        }

        // Attach event listeners
        attachNetCostEventListener();
        $('input[name="markup"], input[name="tcs"], input[name="gst"], input[name="pg_card"]').on('input', function() {
            calculateTotal();
        });

        // Add row function
        $('.add-row').click(function () {
            var newRow = $('#productRows tr:first').clone();
            newRow.find('input').val('');
            $('#productRows').append(newRow);
            attachNetCostEventListener();
            calculateTotalNetCost();
        });
    });
</script>

<script>
    $(document).ready(function() {
      $('#submitBtn').click(function() {
        $('#notesModal').modal('show');
      });
  
      // Submit with note button click event
      $('#submitWithNote').click(function() {
        var note = $('#noteInput').val();
        if (note.trim() === '') {
          alert('Please provide a note.');
        } else {
          $('#noteForm').submit(); // Submit the form
        }
      });
    });
  </script>

{% endblock main-content %}
