{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %}

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
            <div class="card-body px-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="font-weight-medium fs-14 mb-0">Booking Card</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-muted text-decoration-none" href="{% url "home" %}">Home</a>
                                </li>
                                <li class="breadcrumb-item text-muted" aria-current="page">
                                    <a class="text-muted text-decoration-none" href="{% url "allquerylist" %}">All Query</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Booking Card</h4>
                        <hr>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Name</th>
                                            <th>Supplier</th>
                                            <th>Net Cost</th>
                                            <th>Source</th>
                                            <th>Booking Refrence No</th>
                                            <th>Status</th>
                                            <th>Holding Date</th>
                                            <th>Vendor Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="productRows">
                                        <tr class="product-row">
                                            <td>
                                                <select class="form-control product-select" name="product" id="product" required>
                                                    <option value="Hotel">Hotel</option>
                                                    <option value="Flight">Flight</option>
                                                    <option value="Travel Insurance">Travel Insurance</option>
                                                    <option value="Visa Service">Visa Service</option>
                                                    <option value="Transfer">Transfer</option>
                                                    <option value="Sightseeing">Sightseeing</option>
                                                    <option value="Meals">Meals</option>
                                                    <option value="Activity">Activity</option>
                                                    <option value="Ferry">Ferry</option>
                                                    <option value="Boat">Boat</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </td>
                                            <td><input type="text" class="form-control" name="supplier" id="supplier" placeholder="AirIndia" required></td>
                                            <td><input type="text" class="form-control" name="name" id="name" placeholder="Indigo" required></td>
                                            <td><input type="text" class="form-control" name="net_cost" id="net_cost" placeholder="100.00" required></td>
                                            <td><input type="text" class="form-control" name="source" id="source" placeholder="Refrence" required></td>
                                            <td><input type="text" class="form-control" name="source_details" id="source_details" placeholder="Online" required></td>
                                            <td><input type="text" class="form-control" name="status" id="status" placeholder="Pending" required></td>
                                            <td><input type="date" class="form-control" name="holding_date" id="holding_date" required></td>
                                            <td><input type="text" class="form-control" name="vendor_payment" id="vendor_payment" placeholder="Pending" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p style="font-size: 1.125rem; font-weight:500; color:black;">
                                Costing
                            </p>
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="control-label" for="">Total NetCost</label>
                                    <input type="text" class="form-control" id="totalNetCost" name="total_net_cost" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">MarkUp</label>
                                    <input type="text" class="form-control" name="markup" placeholder="10.00" required>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">TCS</label>
                                    <input type="text" class="form-control" name="tcs" placeholder="10.00" required>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">GST</label>
                                    <input type="text" class="form-control" name="gst" placeholder="10.00" required>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">PG Cards</label>
                                    <input type="text" class="form-control" name="pg_card" placeholder="10.00" required>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="">Total</label>
                                    <input type="text" class="form-control" name="total" placeholder="200.00" required>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary add-row" style="margin-top: 10px;">Add More</button>

                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        
        function calculateTotalNetCost() {
            var totalNetCost = 0;
            
            $('#productRows tr').each(function () {
                
                var netCost = $(this).find('input[name="net_cost"]').val();
                
                if (!isNaN(netCost) && netCost !== '') {
                    totalNetCost += parseFloat(netCost);
                }
            });
            
            $('#totalNetCost').val(totalNetCost.toFixed(2));

            // Calculate total
            calculateTotal();
        }

        function calculateTotal() {
            var totalNetCost = parseFloat($('#totalNetCost').val());
            var markup = parseFloat($('input[name="markup"]').val()) || 0;
            var tcs = parseFloat($('input[name="tcs"]').val()) || 0;
            var gst = parseFloat($('input[name="gst"]').val()) || 0;
            var pgCard = parseFloat($('input[name="pg_card"]').val()) || 0;

            var total = totalNetCost + markup + tcs + gst + pgCard;
            $('input[name="total"]').val(total.toFixed(2));
        }

        function attachNetCostEventListener() {
            $('#productRows').on('input', 'input[name="net_cost"]', function() {
                calculateTotalNetCost();
            });
        }

        // Attach event listeners
        attachNetCostEventListener();
        $('input[name="markup"], input[name="tcs"], input[name="gst"], input[name="pg_card"]').on('input', function() {
            calculateTotal();
        });

        // Add row function
        $('.add-row').click(function () {
            var newRow = $('#productRows tr:first').clone();
            newRow.find('input').val('');
            $('#productRows').append(newRow);
            attachNetCostEventListener();
            calculateTotalNetCost();
        });
    });
</script>



{% endblock main-content %}
