{% load static %}
<div class="modal fade" id="update_status{{i.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
       <form action="{% url 'lead_status_update' i.id %}" method="POST" > 
        {% csrf_token %}
        <input type="hidden" name="redirect_to" value="{% if request.path == '/newquerylist' %}newquerylist{% elif request.path == '/lostquery' %}lostquery{% elif request.path == '/connectedquerylist' %}connectedquerylist{% elif request.path == '/noanswerquerylist' %}noanswerquerylist{% elif request.path == '/quatationquerylist' %}quatationquerylist{% elif request.path == '/paymentdonequerylist' %}paymentdonequerylist{% elif request.path == '/completedquery' %}completedquery{% elif request.path == '/bookinglist' %}bookinglist{% elif request.path == '/bseleadlist' %}bseleadlist{% elif request.path == '/hotquerylist' %}hotquerylist{% elif request.path == '/warmquerylist' %}warmquerylist{% elif request.path == '/coldquerylist' %}coldquerylist{% else %}allquerylist{% endif %}">
            
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="exampleModalLabel1">
                        Update Status
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="row mb-3">
                        
                        <div class="col-lg-12">
                            <label for="country-name" class="control-label">Status</label>
                            <select class="form-control" name="lead_status" id="lead_status" style="height: 36px; width: 100%">
                                <option value="Pending" {% if i.lead_status == "Pending" %}selected{% endif %}>Pending</option>
                                <option value="No Answer" {% if i.lead_status == "No Answer" %}selected{% endif %}>No Answer</option>
                                <option value="Connected" {% if i.lead_status == "Connected" %}selected{% endif %}>Connected</option>
                                <option value="Quotation Send" {% if i.lead_status == "Quotation Send" %}selected{% endif %}>Quotation Send</option>
                                <option value="Payment Processing" {% if i.lead_status == "Payment Processing" %}selected{% endif %}>Payment Processing</option>
                                <option value="Payment Done" {% if i.lead_status == "Payment Done" %}selected{% endif %}>Payment Done</option>
                                <option value="Booking Confirmed" {% if i.lead_status == "Booking Confirmed" %}selected{% endif %}>Booking Confirmed</option>
                                <option value="Lost" {% if i.lead_status == "Lost" %}selected{% endif %}>Lost</option>
                                <option value="Completed" {% if i.lead_status == "Completed" %}selected{% endif %}>Completed</option>
                                <option value="Book SomeWhere Else" {% if i.lead_status == "Book SomeWhere Else" %}selected{% endif %}>Book SomeWhere Else</option>
                                <option value="Remainder" {% if i.lead_status == "Remainder" %}selected{% endif %}>Remainder</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger-subtle text-danger font-medium" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                </div>
            </div>
         </form> 
    </div>
</div>
