<div  class="modal animation-modal fade" id="city-{{i.id}}" tabindex="-1" role="dialog"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <form method="post" action="{% url "editcity" i.id %}" hx-post="true" hx-swap="outerHTML" hx-target="#main" hx-trigger="htmx:afterSwap">
      
         {% csrf_token %}
      <div class="modal-content">

         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle-1">Edit City</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <label for="country-name">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" value="{{i.name}}" name="city_name">
                                                 
                </div> 
               
            </div> 

             <div class="row mb-3">
                <div class="col-lg-12">
                    <label for="state-name">State</label>
                   
                                                 
                </div> 
                <div class="col-lg-12">
                  <select class="select2" name="state_id" style="width:100%">
                     {% for state in state %}
                     <option value="{{state.id}}" {% if state.id == i.state.id %}selected{% endif %}>{{state.name}}</option>
                     {% endfor %}

                  </select>
                   
                                                 
                </div> 
            </div> 
           
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
               data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            
         </div>
         
      </div>
      </form>
   </div>
</div>




<script>
   document.addEventListener('htmx:afterSwap', function(event) {
       // Open the "citylist" URL in a new tab only if the form was successfully submitted
       if (event.target === document.getElementById('editCityForm')) {
           window.open('{% url "city" %}');
       }
   });

   // Prevent the default form submission behavior
   document.getElementById('editCityForm').addEventListener('submit', function(event) {
       event.preventDefault(); // Prevent the form from submitting normally
       var form = event.target;
       var formData = new FormData(form);

       // Manually submit the form using htmx
       hx.trigger(form, 'submit', formData);
   });
</script>