{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %}

      <div class="body-wrapper">
        <div class="container-fluid">
          <!-- -------------------------------------------------------------- -->
          <!-- Breadcrumb -->
          <!-- -------------------------------------------------------------- -->
          <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
            <div class="card-body px-0">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-medium fs-14 mb-0">Dashboard</h4>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a class="text-muted text-decoration-none" href="{% url "home" %}">Home
                        </a>
                      </li>
                      <li class="breadcrumb-item text-muted" aria-current="page">Dashboard</li>
                    </ol>
                  </nav>
                </div>
                
              </div>
            </div>
          </div>

          <!-- -------------------------------------------------------------- -->
          <!-- Breadcrumb End -->
          <!-- -------------------------------------------------------------- -->
          <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body p-9">
                  <div class="hstack gap-9">
                    <div>
                      <img src="{% static "assets/images/gallery/allquery.svg" %}" alt="" srcset="">
                      
                    </div>
                    <div class="align-self-center">
                      <h3 class="mb-1 fs-6">{{all_lead.count}}</h3>
                      <span class="text-muted">Total Query</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body p-9">
                  <div class="hstack gap-9">
                    <div>
                      <img src="{% static "assets/images/gallery/quotation.svg" %}" alt="" srcset="">
                      
                    </div>
                    <div class="align-self-center">
                      <h3 class="mb-1 fs-6">{{quatation_lead_list.count}}</h3>
                      <span class="text-muted">Quotation Send</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body p-9">
                  <div class="hstack gap-9">
                    <div>
                      <img src="{% static "assets/images/gallery/completed.svg" %}" alt="" srcset="">
                      
                    </div>
                    <div class="align-self-center">
                      <h3 class="mb-1 fs-6">{{comlead_list.count}}</h3>
                      <span class="text-muted">Completed Query</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body p-9">
                  <div class="hstack gap-9">
                    <div>
                      <img src="{% static "assets/images/gallery/lost.svg" %}" alt="" srcset="">
                      
                    </div>
                    <div class="align-self-center">
                      <h3 class="mb-1 fs-6">{{lost_list.count}}</h3>
                      <span class="text-muted">Lost Query</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="card w-100">
                <div class="card-body pb-3">
                  <div class="d-md-flex no-block">
                    <h4 class="card-title">Latest Query</h4>
                    
                  </div>
                  <div class="month-table">
                    <div class="table-responsive mt-3">
                      <table class="table v-middle mb-0 no-wrap">
                        <thead>
                          <tr>
                            <th class="border-0 ps-0">
                              Enquiry No
                            </th>
                            <th class="border-0">Client Name</th>
                            <th class="border-0">
                              Query Title
                            </th>
                            <th class="border-0">
                              Status
                            </th>
                            <th class="border-0 text-end">
                              Operation Head
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in all_lead  %}
                          <tr>
                            <td class="ps-0">
                              <div class="hstack gap-3">
                                
                                <div>
                                  <p class="mb-0 fs-3">{{i.enquiry_number}}</p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="mb-0">{{i.name}}</p>
                            </td>
                            <td>
                              <p class="mb-0">{{i.query_title}}</p>
                            </td>
                            <td>
                              {% if i.lead_status == "Pending" %}
                                  <p class="mb-0 badge rounded-pill text-bg-warning">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Connected" %}
                                  <p class="mb-0 badge rounded-pill text-bg-danger">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Quotation Send" %}
                                  <p class="mb-0 badge rounded-pill text-bg-primary">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Payment Processing" %}
                                  <p class="mb-0 badge rounded-pill text-bg-secondary">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Payment Done" %}
                                  <p class="mb-0 badge rounded-pill text-bg-info">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Lost" %}
                                  <p class="mb-0 badge rounded-pill text-bg-dark">{{ i.lead_status }}</p>
                              {% elif i.lead_status == "Completed" %}
                                  <p class="mb-0 badge rounded-pill text-bg-success">{{ i.lead_status }}</p>
                              {% else %}
                                  <p class="mb-0 badge rounded-pill">{{ i.lead_status }}</p>
                              {% endif %}
                          </td>
                            
                            <td class="text-end">
                              <p class="mb-0 fs-3">{{i.operation_person}}</p>
                            </td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card w-100">
                <div class="card-body pb-3">
                  <div class="d-md-flex no-block">
                    <h4 class="card-title">Latest Followups</h4>
                    
                  </div>
                  <div class="month-table">
                    <div class="table-responsive mt-3">
                      <table class="table v-middle mb-0 no-wrap">
                        <thead>
                          <tr>
                            <th class="border-0 ps-0">
                              Enquiry No
                            </th>
                            <th class="border-0">Client Name</th>
                            <th class="border-0">
                              Query Title
                            </th>
                            <th class="border-0">
                              Followup Note
                            </th>
                            <th class="border-0 text-end">
                              Date-Time
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in follow_up  %}
                          <tr>
                            <td class="ps-0">
                              <div class="hstack gap-3">
                                
                                <div>
                                  <p class="mb-0 fs-3">{{i.lead.enquiry_number}}</p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="mb-0">{{i.lead.name}}</p>
                            </td>
                            <td>
                              <p class="mb-0">{{i.lead.query_title}}</p>
                            </td>
                            <td>
                              <p class="mb-0">{{i.note}}</p>
                            </td>
                            
                            <td class="text-end">
                              <p class="mb-0 fs-3">{{i.datetime}}</p>
                            </td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          
        </div>
      </div>

{% endblock main-content %}