<aside class="left-sidebar with-vertical">
  <div><!-- ---------------------------------- -->
    <!-- Start Vertical Layout Sidebar -->
    <!-- ---------------------------------- -->
    <!-- Sidebar scroll-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    
      <ul id="sidebarnav">
        <!-- ---------------------------------- -->
        <!-- Home -->
        <!-- ---------------------------------- -->

        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">Home</span>
        </li>
        <!-- ---------------------------------- -->
        <!-- Dashboard -->
        <!-- ---------------------------------- -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "home" %}">
            <iconify-icon icon="solar:widget-4-linear" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "allquerylist" %}">
            <iconify-icon icon="solar:atom-linear" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Query</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "ticketing_list" %}">
            <iconify-icon icon="solar:atom-linear" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Ticketing Query</span>
          </a>
        </li>
        
        <!-- ---------------------------------- -->
        <!-- Apps -->
        <!-- ---------------------------------- -->
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">Master</span>
        </li>

        
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "amenities" %}">
            <iconify-icon icon="solar:closet-bold" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Amenities</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "arrivals" %}">
            <iconify-icon icon="solar:map-arrow-right-bold-duotone" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Arrival Departure</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_bank" %}">
            <iconify-icon icon="solar:money-bag-outline" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Banks</span>
          </a>
        </li> -->
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "city" %}">
            <iconify-icon icon="solar:map-point-rotate-broken" class="aside-icon"></iconify-icon>
            <span class="hide-menu">City</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_Country" %}">
            <iconify-icon icon="solar:globus-bold" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Country</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_currency" %}">
            <iconify-icon icon="solar:banknote-2-outline" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Currency</span>
          </a>
        </li> -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_destination" %}">
            <iconify-icon icon="solar:point-on-map-broken" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Destination</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_driver" %}">
            <iconify-icon icon="solar:user-hand-up-bold" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Driver</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "extrameal" %}">
            <iconify-icon icon="solar:donut-bold" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Extra Meal</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_extra_meal_price" %}">
            <iconify-icon icon="solar:verified-check-broken" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Extra Meal Price</span>
          </a>
        </li> -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_extra_service" %}">
            <iconify-icon icon="solar:widget-add-bold" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Expense Service Type</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_ferry_class" %}">
            <iconify-icon icon="solar:sticker-circle-linear" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Ferry Class</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_flight" %}">
            <iconify-icon icon="vaadin:flight-takeoff" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Flight</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_guide" %}">
            <iconify-icon icon="ri:guide-line" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Guide</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "hotel" %}">
            <iconify-icon icon="mdi:hotel-outline" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Hotel</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_hotel_category" %}">
            <iconify-icon icon="ri:hotel-line" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Hotel Category</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_hotellocation" %}">
            <iconify-icon icon="mingcute:location-3-fill" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Hotel Location</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_itinerary" %}">
            <iconify-icon icon="icon-park:mail-package" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Itinerary</span>
          </a>
        </li> -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_lead_source" %}">
            <iconify-icon icon="mdi:source-repository-multiple" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Lead Source</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_meal_plan" %}">
            <iconify-icon icon="game-icons:meal" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Meal Plan</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "documents" %}">
            <iconify-icon icon="fluent:document-pdf-24-filled" class="aside-icon"></iconify-icon>
            <span class="hide-menu">My Documents</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "restaurant" %}">
            <iconify-icon icon="medical-icon:restaurant" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Restaurants</span>
          </a>
        </li> -->
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_restaurentlocation" %}">
            <iconify-icon icon="tdesign:location-1" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Restaurant Location</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_restaurenttype" %}">
            <iconify-icon icon="iconoir:plug-type-l" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Restaurant Type</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_roomtype" %}">
            <iconify-icon icon="cil:room" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Room Type</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "sightseeing" %}">
            <iconify-icon icon="uim:scenery" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Sightseeing</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_specialdays" %}">
            <iconify-icon icon="material-symbols-light:folder-special-outline" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Special Days</span>
          </a>
        </li> -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "state" %}">
            <iconify-icon icon="fluent:real-estate-20-filled" class="aside-icon"></iconify-icon>
            <span class="hide-menu">State</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "supplier" %}">
            <iconify-icon icon="carbon:scis-transparent-supply" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Supplier</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "transfer" %}">
            <iconify-icon icon="solar:user-circle-linear" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Transfer</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_transfer_location" %}">
            <iconify-icon icon="bitcoin-icons:transfer-outline" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Transfer Location</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_vehicle" %}">
            <iconify-icon icon="fluent:vehicle-car-profile-24-filled" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Vehicle</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url "add_visa" %}">
            <iconify-icon icon="brandico:visa" class="aside-icon"></iconify-icon>
            <span class="hide-menu">Visa</span>
          </a>
        </li>
        -->
      </ul>
    </nav>
  </div>
</aside>