{% extends "Admin/Base/base.html" %}
{% block main-content %}

    <div class="body-wrapper">
        <div class="container-fluid">
          <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
            <div class="card-body px-0">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-medium fs-14 mb-0">Edit User</h4>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a class="text-muted text-decoration-none" href="{% url "home" %}">Home
                        </a>
                      </li>
                      <li class="breadcrumb-item text-muted" aria-current="page"><a class="text-muted text-decoration-none" href="{% url "user" %}">User</a></li>
                    </ol>
                  </nav>
                </div>
                <div>
                 
                </div>
              </div>
            </div>    
          </div>
    
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form  method="POST" enctype="multipart/form-data">
                   
                      {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-6">
                              <h4 class="mt-0 header-title">Login Information</h4>
                      
                                <div class="form-group row">
                                    
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">First Name</label>
                                        <input class="form-control" type="text"  id="example-text-input" placeholder="Enter FirstName" name="firstname" value="{{user.users.first_name}}">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Last Name</label>
                                        <input class="form-control" type="text"  id="example-text-input" placeholder="Enter LastName" name="lastname" value="{{user.users.last_name}}">
                                    </div>
                                    
                                </div>
                                <div class="form-group row">
                                    
                                    <div class="col-sm-12">
                                        <label for="example-text-input" class="col-form-label">Email</label>
                                        <input class="form-control" type="email"  id="example-text-input" placeholder="Enter Email" name="email" value="{{user.users.email}}">
                                    </div>
                                    {% comment %} <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Password</label>
                                        <input class="form-control" type="password"  id="example-text-input" placeholder="Enter Password" name="password">
                                    </div> {% endcomment %}
                                    
                                </div>
                                <div class="form-group row">
                                    
                                    <div class="col-sm-6">
                                        <label for="example-search-input" class="col-form-label">Code</label>
                                        <input class="form-control" type="text" name="code" id="" placeholder="+91" value="{{user.users.code}}">
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="example-email-input" class="col-form-label">Mobile</label>
                                      <input class="form-control" type="text" name="contact" id="" placeholder="Enter Mobile" value="{{user.users.contact}}">
                                    </div>
                                    
                                
                                </div>
                                <div class="form-group row">
                                    
                                    
                                    <div class="col-sm-6">
                                      <label for="example-email-input" class="col-form-label">User Type</label>
                                      <select class="select2 form-control" name="user_type" id="user_type" style="height: 36px; width: 100%">
                                        {% for usertype in user_type %}
                                       
                                        <option value="{{usertype.0}}" {% if usertype.0 == user.users.user_type %}selected{% endif %}>{{usertype.1}}</option>
                                        {% endfor %}
                                       
                                    </select>
                                    </div>
                                    <div class="col-sm-6">
                                      <label for="example-email-input" class="col-form-label">Reporting To</label>
                                      <select class="select2 form-control" name="reporting_to_id" id="reporting_to_id" style="height: 36px; width: 100%">
                                        {% for i in reporting %}
                                        <option value="{{i.id}}" {% if i.id == user.reporting_to.id %}selected{% endif %}>{{i.first_name}} {{i.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                
                                </div>
                                {% comment %} <div class="row mb-3">
                                    <div class="col-lg-6">
                                        <label for="country-name" class="col-form-label">Country</label>
                                        <select name="country_id" id="country-name" class="select2 form-control" style="width: 100%; height: 36px">
                                            <option value="" disabled selected>---SELECT---</option>>
                                            {% for country in countrys %}
                                            <option value="{{country.id}}" {% if country.id == user.country.id %}selected{% endif %}>{{country.country_name}}</option>
                                            
                                            {% endfor %}
                                        </select>
                                                                     
                                    </div> 
                                    <div class="col-lg-6">
                                        <label for="state-name" class="col-form-label">State</label>
                                        <select name="state_id" id="state-name" class="select2 form-control" style="width: 100%; height: 36px">
                                           
                                            <option class="text-black" value="" selected disabled> --Select--</option>
                                        </select>
                                                                     
                                    </div> 
                                </div>  {% endcomment %}
                                {% comment %} <div class="row mb-3">
                                    <div class="col-lg-6">
                                        <label for="country-name" class="col-form-label">City</label>
                                        <select name="city_id" id="city-name" class="select2 form-control" style="width: 100%; height: 36px">
                                            <option  selected disabled>Select</option>
                                        </select>
                                                                     
                                    </div> 
                                    <div class="col-lg-6">
                                        <label for="state-name" class="col-form-label">Pin</label>
                                        <input type="text" class="form-control" placeholder="Enter Pin"  name="pin">
                                                                     
                                    </div> 
                                </div>  {% endcomment %}
                                    
                                
                            </div>
                            <div class="col-xl-6">
                                
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Domestic Destination</label>
                                        <select name="destination_ids" class="select2 form-control" style="width: 100%; height: 36px" multiple>
                                            {% for destination in destinations %}
                                            <option value="{{ destination.id }}" {% if destination.id in selected_destination_ids %}selected{% endif %}>{{ destination.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">International Destination</label>
                                        <select name="international_destination_ids" class="select2 form-control" style="width: 100%; height: 36px" multiple>
                                            {% for cntry in international_destination %}
                                            <option value="{{ cntry.id }}" {% if cntry.id in selected_international_destination_ids %}selected{% endif %}>{{ cntry.country_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                      
                                  <div class="col-sm-6">
                                      <label for="example-text-input" class="col-form-label">Address</label>
                                      <input class="form-control" type="text"  id="example-text-input" placeholder="Enter Address" name="address" value="{{user.address}}">
                                  </div>
                                  <div class="col-sm-6">
                                    <label for="example-text-input" class="col-form-label">Zoho Password</label>
                                    <input class="form-control" type="text"  id="example-text-input" placeholder="Enter Zoho Password" name="zoho_password" value="{{user.users.zoho_password}}">
                                </div>
                                  
                                </div>
                                <div class="form-group row">
                                      
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">AI Sensy Username</label>
                                        <input class="form-control" type="text"  id="example-text-input" placeholder="Enter Username" name="ai_sensy_username" value="{{user.users.ai_sensy_username}}">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">TataTele Number</label>
                                        <input class="form-control" type="text"  id="example-text-input" placeholder="Enter TataTele Number" name="tata_tele_agent_no" value="{{user.users.tata_tele_agent_no}}">
                                    </div>
                                    
                                  </div>
                                 
                                <div class="form-group row">
                                    <div class="modal-footer" style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button class="btn btn-danger mx-2" hx-get="{% url "user" %}" hx-push-url="true" hx-target="#main">Cancel</button>
                                    </div>
                                </div>
                              </div>
                            
                        </div> 
                    </form>    
                </div>
              </div>
            </div>
          </div>
    
    </div>
    </div>

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
{% comment %} <script>
$(document).ready(function(){
    $("#country-name").change(function(){
        
        var country_id = $(this).val();
        if (country_id){
            $.ajax({
                url: "{% url 'get_user_states' %}",
                type: "GET",
                data: {
                country_id: country_id
                },
                dataType: "json",
                success:function(data){
                    console.log("dddddddddddd",data)

                    $("#state-name").html("");
                    $("#state-name").append('<option value="" selected disabled> --Select--</option>');
                    $.each(data, function(key, value) {
                        $("#state-name").append('<option class="text-black" value="' + value.id + '">' + value.name + '</option>');
                    });
                    
                    $("#state-name").prop("disabled", false);


                }
            })
        }
        else {
            $("#state-name").prop("disabled", true);
            $("#state-name").html('<option value="" selected disabled> --Select--</option>');
        }

    });

    $("#state-name").change(function(){
        var state_id = $(this).val();
        if (state_id) {
            $.ajax({
                url: "{% url 'get_user_city' %}",
                type: "GET",
                data: {
               state_id: state_id
             },
             dataType: "json",
             success:function(data){
                $("#city-name").html("");
                $("#state-name").append('<option value="" selected disabled> --Select--</option>');
               
                
             }
            })
        }
        
    })
})

</script> {% endcomment %}

{% comment %} <script>
    $(document).ready(function(){
        console.log("this log in working ")
        $('#country-name').change(function(){
           
            var country_id = $(this).val();
            $.ajax({
                url: '{% url "get_states" %}',
                type: 'GET',
                data: {'country_id': country_id},
                success: function(response){
                    $('#state-name').empty();
                    $.each(response.states, function(key, value){
                        $('#state-name').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('#state-name').change(function(){
            var state_id = $(this).val();
            $.ajax({
                url: '{% url "get_city" %}',
                type: 'GET',
                data: {'state_id': state_id},
                success: function(response){
                    $('#city-name').empty();
                    $.each(response.citys, function(key, value){
                        $('#city-name').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });
        });
    });
</script> {% endcomment %}

{% endblock main-content %}