{% extends "Account/Base/base.html" %}
{% load static %}
{% block main-content %}


<style>
  .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

</style>

      <div class="body-wrapper">
        <div class="container-fluid">
          <!-- -------------------------------------------------------------- -->
          <!-- Breadcrumb -->
          <!-- -------------------------------------------------------------- -->
          <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
            <div class="card-body px-0">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-medium fs-14 mb-0">Dashboard</h4>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a class="text-muted text-decoration-none" href="{% url "accounthome" %}">Home
                        </a>
                      </li>
                      <li class="breadcrumb-item text-muted" aria-current="page">Dashboard</li>
                    </ol>
                  </nav>
                </div>
                
                
              </div>
            </div>
          </div>

          <!-- -------------------------------------------------------------- -->
          <!-- Breadcrumb End -->
          <!-- -------------------------------------------------------------- -->

          

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                
                <div class="col-lg-6 col-md-6">
                  <a href="{% url "paymentreceivelist" %}">
                  <div class="card">
                    <div class="card-body p-9">
                      <div class="hstack gap-9">
                        <div>
                          <img src="{% static "assets/images/gallery/Pending.svg" %}" alt="" srcset="">
                          
                        </div>
                        <div class="align-self-center">
                          <h3 class="mb-1 fs-6">{{paymentattachments.count}}</h3>
                          <span class="text-muted">Payment Received</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
                <div class="col-lg-6 col-md-6">
                  <a href="{% url "approvepaymentlist" %}">
                  <div class="card">
                    <div class="card-body p-9">
                      <div class="hstack gap-9">
                        <div>
                          <img src="{% static "assets/images/gallery/Connected.svg" %}" alt="" srcset="">
                          
                        </div>
                        <div class="align-self-center">
                          <h3 class="mb-1 fs-6">{{approvedpayment.count}}</h3>
                          <span class="text-muted">Payment Done</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
                
              </div>
            </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="card w-100">
                      <div class="card-body">
                        <h4 class="card-title">Payment Received</h4>
                        <div class="chat-box w-100" data-simplebar="" style="height: 382px">
                          <!--chat Row -->
                          <div class="table-responsive mt-3">
                            <table class="table v-middle mb-0 no-wrap">
                              <thead>
                                <tr>
                                  <th class="border-0 ps-0">
                                    Enquiry No
                                  </th>
                                  <th class="border-0">Client Name</th>
                                  <th class="border-0">
                                    Query Title
                                  </th>
                                  
                                  <th class="border-0 text-end">
                                    Sales Person
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for i in paymentattachments  %}
                                <tr>
                                  <td class="ps-0">
                                    <div class="hstack gap-3">
                                      
                                      <div>
                                        <p class="mb-0 fs-3">{{i.lead.enquiry_number}}</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="mb-0">{{i.lead.name}}</p>
                                  </td>
                                  <td>
                                    <p class="mb-0">{{i.lead.query_title}}</p>
                                  </td>
                                  
                                  
                                  <td class="text-end">
                                    <p class="mb-0 fs-3">{{i.lead.sales_person}}</p>
                                  </td>
                                </tr>
                                {% endfor %}
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
               
              
            </div>
            <!-- Column -->
            
            <!-- Column -->
          
        </div>
        <a href="https://www.app.aisensy.com/login" class="whatsapp-icon" target="_blank_">
          <img src="{% static "assets/images/backgrounds/whatsapp-icon.svg" %}" width="32" height="32" alt="" srcset="">
        </a>
        
        
      </div>


      

{% endblock main-content %}